<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>homepage</h1>

{% if request.session.is_login %}
    Welcome！ {{ request.session.username }}!
    <a href="/yd_webapp/patient/">To the user Account</a>
    <a href="{% url 'yd_webapp:logout' %}">logout</a>
    
{% else %}
    <a href="{% url 'yd_webapp:login' %}">Patient Login</a>
    <a href="{% url 'yd_webapp:doclogin' %}">Doctor Login</a>
    <a href="{% url 'yd_webapp:register' %}">Sign up</a>

{% endif %}
    
</body>
</html>