<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "login.css" %}">
    <title>login</title>
    
</head>
<body>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{msg.message}}');
            {% endfor %}
        </script>
    {% endif %}
     <div style="margin: 15% 40%;">
        <h1>Welcome to YourDoctor!</h1>
        <h3 class="loginpatient">Login as a Patient</h3>
       <form action="" method="post">{% csrf_token %}
            {{Error}}
            <p>
                <label for="id_username">Email：</label>
                <input type="text" id="id_username" name="email" placeholder="username" autofocus required />
            </p>

            <p>
                <label for="id_password">Password：</label>
                <input type="password" id="id_password" placeholder="password" name="password" required >
            </p>
            <button type="submit" >Log In</button>
            <a href="/yd_webapp/" class="btn" role="button">Homepage</a>

            <h6> A new patient? Don't worry! Register to our website. </h6>
            <li><a href="/yd_webapp/register">Register Now</a></li>

        </form>
    </div>
    <script src="{% static "js1/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>