{% extends 'yd_webapp/userbase.html' %}
{% load staticfiles %}

{% block title_block %}
    Booking
{% endblock %}

{% block body_block %}

<form action="{% url 'yd_webapp:booking' %}" method="post">
  {% csrf_token %}
    <div class="card-group">
    {% for choice in time_choices %}
        <div>
        <div class="card" style="width: 20rem;">
            <img src="{% static 'icon/hospital.png' %}" class="card-img-top" alt="icon of hospital">
            <div class="card-body">
                <h5 class="card-title"> Dr. {{choice.doctor_id.doctor_name}}
                <div>
                  <p><input type="radio" name="availabletime" value={{ choice.t_id }}> {{ choice.get_time_id_display }}</p>
                </div>
                </h5>
            </div>
        </div>
        </div>

    {% endfor %}
    </div>
    <br>
    <button type="submit">Submit</button>
</form>

{% endblock %}

