{% extends 'yd_webapp/userbase.html' %}
{% load staticfiles %}

{% block title_block %}
    Booking
{% endblock %}

{% block body_block %}

<form action="{% url 'yd_webapp:booking' %}" method="post">
  {% csrf_token %}
    <div>
    <h3>
        Your Appointment:
    </h3>
            {% for a in appointment %}
                <h4>
                    {{ a.t_id.doctor_id.doctor_name }}
                    {{ a.t_id.get_time_id_display }}
                </h4>
            {% endfor %}
    </div>

    <div class="container">
    <div class="card-group" >
    {% for choice in time_choices %}
        <div>
        <div class="card bg" >
            <div class="card-body text-center">
                <h5 class="card-title"> Dr. {{choice.doctor_id.doctor_name}}
                <div>
                  <p><input type="radio" name="availabletime" value={{ choice.t_id }}> {{ choice.get_time_id_display }}</p>
                </div>
                </h5>
            </div>
        </div>
        </div>

    {% endfor %}
    </div>
    </div>
    <br>
    <div class="text-center">
    <button class="submit-booking" type="submit">Submit</button>
    </div>
</form>
<div class="text-center" >
     <a href="/yd_webapp/patient/">Back to the homepage</a>
    </div>
{% endblock %}

