{% extends 'yd_webapp/userbase.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}

<div class="row">
<div class="column side">
  <h2>Account</h2>
<div class="card" style="width: 18rem;">
    <img src="{% static 'icon/user.png' %}" class="card-img-top" alt="icon of hospital">
    <!--<div>Icons made by <a href="" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
    <div class="card-body">
      <h5 class="card-title"> Name: {{ request.session.user_name }}
          <div><!--
            {% if user.is_authenticated %}
            {{user.user.name}}
            {% else %}
            hey there partner
            {%endif%}
          </div>-->
        </h5>
      <p class="card-text">Hello! Here is introduction part</p>
      <p class="card-text">Email: {{ request.session.user_email }}</p>
      

    </div>
  </div>
</div>

<div class="column body">
  <h2>Functions</h2>
  <a href="/yd_webapp/edittime/" class="link button">Edit Timetable</a>
  <a href="#" class="link button">Reply</a>
</div>

</div>
{% endblock %}
