{% extends 'yd_webapp/userbase.html' %}
{% load staticfiles %}

{% block title_block %}
    Doctor
{% endblock %}

{% block body_block %}

<form action='/yd_webapp/doctor/' method="post">
    {% csrf_token %}

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=1 id="1" name="time">
      <label class="form-check-label" for="MonMoring">Monday Moring</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=2 id="2" name="time">
      <label class="form-check-label" for="TurMoring">Tuesday Moring</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value=3 id="3" name="time">
        <label class="form-check-label" for="WedMoring">Wednesday Moring</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=4 id="4" name="time">
      <label class="form-check-label" for="MonMoring">Thursday Moring</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=5 id="5" name="time">
      <label class="form-check-label" for="TurMoring">Friday Moring</label>
    </div>

    <button type="submit">Submit</button>
    </form>

    <div>
        <h1>SELECTED TIME</h1>
    {% if timetable %}
        <ul>
        {% for time in timetable%}
        <li><h4>{{ time }}</h4></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>NO TIME SELECTED</strong>
    {% endif %}
    </div>


{% endblock %}