{% extends 'yd_webapp/userbase.html' %}
{% load staticfiles %}

{% block title_block %}
    Doctor
{% endblock %}

{% block body_block %}

<form class="text-center" action='/yd_webapp/edittime/' method="POST">
    {% csrf_token %}

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=1 id="b1" name="time">
      <label class="form-check-label" for="MonMoring">Monday</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=2 id="b2" name="time">
      <label class="form-check-label" for="TurMoring">Tuesday</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=3 id="b3" name="time">
      <label class="form-check-label" for="WedMoring">Wednesday</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=4 id="b4" name="time">
      <label class="form-check-label" for="MonMoring">Thursday</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=5 id="b5" name="time">
      <label class="form-check-label" for="FriMoring">Friday</label>
    </div>

    <button type="submit">Submit</button>
    </form>



<div class="text-center">
    <div>
        <h4 class="some-space">SELECTED TIME</h4>
    {% if timetable %}
        <ul>
        {% for time in timetable%}
        <h5 class="selected-time">{{ time }}</h5>
        {% endfor %}
        </ul>
    {% else %}
        <strong>NO TIME SELECTED</strong>
    {% endif %}
    </div>

     <a class="link button" href="/yd_webapp/doctor">Back to the HomePage</a>
</div>

{% endblock %}