{% extends 'yd_webapp/userbase.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}

<div class="row">
<div class="column side">
  <h2>Account</h2>
<div class="card" style="width: 18rem;">
    <img src="{% static 'icon/hospital.png' %}" class="card-img-top" alt="icon of hospital">
    <div class="card-body">
      <h5 class="card-title"> user Name
          <div><!--
            {% if user.is_authenticated %}
            {{user.user.name}}
            {% else %}
            hey there partner
            {%endif%}
          </div>-->
        </h5>
      <p class="card-text">在这里显示用户介绍，属于account内容？</p>
      
<!--另一个问题是将变化的超链放入该处a tag，理论可行，但是得先完成url的设置-->
    </div>
  </div>
</div>

<div class="column body">
  <h2>Functions</h2>
  <a href="#" class="link button">Message</a>
  <a href="/yd_webapp/booking/" class="link button">Appointment</a>
  <a href="#" class="link button">Review</a>
</div>

</div>
{% endblock %}
